DATABASE_URL="postgresql://postgres:postgres@localhost:5432/lead_os_ai?schema=public"
AUTH_SESSION_SECRET="change-this-in-production"
AIFROGI_LOGIN_OTP_DISABLED="false"
LEADOS_LOGIN_USERNAME=""
LEADOS_LOGIN_PASSWORD=""
LEADOS_LOGIN_LABEL=""
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_WHATSAPP_FROM="whatsapp:+14155238886"
TWILIO_TEST_TO=""
TWILIO_CONTENT_SID=""
PUBLIC_BASE_URL="https://app.aifrogi.com"
AIFROGI_APP_URL="https://app.aifrogi.com"
NEXT_PUBLIC_MARKETING_URL="https://aifrogi.com"
AIFROGI_ADMIN_EMAIL="info@aifrogi.com"
AIFROGI_LOGIN_IDENTITIES="info@aifrogi.com,support@hotelradar.in"
HOTELRADAR_LEADOS_PUBLIC_URL="https://app.aifrogi.com"
META_GRAPH_API_VERSION="v25.0"
META_WHATSAPP_BUSINESS_ACCOUNT_ID=""
META_WHATSAPP_PHONE_NUMBER_ID=""
META_WHATSAPP_DISPLAY_PHONE_NUMBER=""
META_WHATSAPP_VERIFY_TOKEN=""
META_WHATSAPP_ACCESS_TOKEN=""
META_APP_SECRET=""
FACEBOOK_APP_SECRET=""
META_WEBHOOK_SIGNATURE_REQUIRED="true"
LEADOS_WHATSAPP_INBOUND_TOKEN=""
LEADOS_WHATSAPP_INBOUND_TOKEN_REQUIRED="true"
BOOKING_INBOX_PASSWORD=""
BOOKING_INBOX_EMAIL="info@aifrogi.com"
BOOKING_INBOX_FROM_NAME="AiFrogi"
AIFROGI_RELEASE="development"
AIFROGI_MONITOR_URL="https://app.aifrogi.com"
AIFROGI_ALERT_WEBHOOK_URL=""
AIFROGI_BACKUP_DIR="/var/backups/aifrogi"
AIFROGI_BACKUP_RETENTION_DAYS="14"
BACKUP_ENCRYPTION_PASSPHRASE=""
RESTORE_ADMIN_URL=""
